<div class="animate__animated animate__fadeIn animate__faster">

  <h2>Por capital</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-busqueda [place]="place" (busqueda)="buscar(termino)" (onDebounce)="sugerencias($event)"></app-busqueda>
    </div>
  </div>
</div>
<hr />
<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el termino {{termino}}
</div>

<div *ngIf="capitales.length > 0" class="row">
  <div class="col">
    <app-table [paises]="capitales"></app-table>
  </div>
</div>
