<div class="animate__animated animate__fadeIn animate__faster">

  <h3>Buscar por region: <small> {{regionActiva | titlecase }} </small></h3>
  <hr />
  <h5>Seleccione la region</h5>
  <div class="row">
    <div class="col" *ngFor="let regione of regiones">
      <!-- [ngClass]="{ 'btn-primary': regionActiva === regione, 'btn-outline-primary': regionActiva !== regione }" -->
      <button [class]="getClass(regione)" (click)="activarRegion(regione)">
        {{regione | titlecase}} </button>
    </div>
  </div>
</div>
<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-table [paises]="paises"></app-table>
  </div>
</div>
